*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #ffcccb
}
.navbar-brand{
	font-family: Dancing Script, cursive;
	font-size: 30px;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ba6b6c;
	padding: 20px;
}
nav{
	display: flex;
	align-items: center;
	background-color: #ba6b6c;
	padding: 20px;
}
.navbar-collapse li{
	list-style: none;
}
.navbar-collapse li a{
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	transition: all 0.3s ease 0s;
	color: #000;
}
.navbar-collapse li a:hover{
	color: #fff;
}
.navbar-right{
	margin-right: 40px;
}
.navbar-right li{
	list-style: none;
	display: inline-block;
	padding: 5px;
}
.navbar-right li a button{
	text-decoration: none;
	border: none;
	background-color: #ba6b6c;
	font-family: 'Raleway', sans-serif;
	transition: all 0.3s ease 0s;
	color: #000;
	cursor: pointer;
}	
.navbar-right li a button:hover{
	color: #fff;
}
.search{
	position: absolute;
	padding: 10px;
	height: 40px;
}
.inputbox{
	border-top: 1.5px solid #000;
	border-bottom: 1.5px solid #000;
	border-left: 1.5px solid #000;
	border-right: none;
	background-color: #ffcccb;
	width: 240px;
	float: left;
	padding: 0;
	color: #000;
	font-size: 16px;
	transition: 0.4s all;
	line-height: 40px;
}
.searchbutton{
	color: #000;
	border-top: 1.5px solid #000;
	border-bottom: 1.5px solid #000;
	border-right: 1.5px solid #000;
	border-left: none;
	background-color: #ef9a9a;
	float: right;
	text-decoration: none;
	width: 40px;
	height: 43px;
	line-height: 40px;
	text-align: center;
}
